@page "/AllImage"
@model COTSEClient.Pages.Department.ListAllImageModel

<form asp-page-handler="SavetoPdf" method="post">

<div class="image-container">
    @foreach (var imageUrl in Model.ImageUrls)
    {
        <div class="image-item">
            <img src="data:image/png;base64,@imageUrl" alt="Image" />
        </div>
    }
</div>
<button type="submit" class="btn btn-primary">Save to PDF</button>

</form>