@page "/SurveyReport"
@model SurveyModel
@{

    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!-- library script -->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

@if (!Html.ViewData.ModelState.IsValid || Html.ViewData.ModelState.ContainsKey(string.Empty))
{
    <div class="alert alert-danger" role="alert" id="errorMessage">
        @Html.ValidationSummary(false, "")
    </div>
}
<style>
    .test {
    }
</style>

<div id="app" class="row test">
    <div class="row py-2">
        <h4>
            Create Survey Report
        </h4>
    </div>
    <div>
        @if (!Model.state_display)
        {
            <form method="post" enctype="multipart/form-data" asp-antiforgery="false">
                <input type="file" name="fileSurveys" class="form-control-file" multiple />
                <input type="submit" />
            </form>
        }

        @if (Model.state_display)
        {
            <div class="row">
                <div class="row">
                    <h5>change sentiment chart display</h5>
                    <div>
                        <select id="selectChart" onchange="changeSentimentChart()">
                            <option value="polarArea"> Radar chart</option>
                            <option value="bar"> Bar chart</option>
                        </select>
                    </div>
                </div>
                <div style="width:50%; height:50vh" class="row">
                    <canvas id="sentiment_chart"></canvas>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        View Detail
                    </button>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height=80vh;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Feedback detail</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="overflow-y:scroll">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Feedback</th>
                                        <th>Sentiment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var result in Model.feedbackResults)
                                    {
                                        <tr>
                                            <td>@result.Question</td>
                                            <td>@result.getResult()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        var sentiment_data = @Html.Raw(Json.Serialize(Model.feedbackCount));
    </script>

    <script src="~/js/Survey.js">
    </script>
</div>
