@page
@model COTSEClient.Pages.Presenters.EnterKeyModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mời tham dự diễn giả workshop</title>
    <link href="~/css/enterkeystyle.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('\\image\\logoTeam.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .btn-confirm {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .btn-confirm:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h1>Mời tham dự hội thảo</h1>
        <form asp-page="EnterKey" method="post" id="invitationForm">
            <div class="form-group">
                <label for="invitationCode">Nhập mã khách mời:</label>
                <input type="text" id="invitationCode" name="invitationCode" required>
            </div>
            <button type="submit" class="btn-confirm" id="confirmButton">Xác nhận</button>
        </form>
    </div>

    <script>
        var flag = @Html.Raw(Json.Serialize(Model.Flag));
        var invitationCode = @Html.Raw(Json.Serialize(Model.InvitationCode));
        console.log(flag);
        if (flag == true) {
            console.log('flag');
            var confirmation = confirm("Bạn có chắc chắn muốn làm diễn gỉa cho workshop này không ?");
            if (confirmation) {
                window.location.href = "https://localhost:7149/Presenters/EnterKey?invitationCode=" + invitationCode + "&&checkCf=true";
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>