@page
@model COTSEClient.Pages.Presenters.EnterKeyModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mời tham dự diễn giả workshop</title>
    <link href="~/css/enterkeystyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="center-content">
            <h1>Mời tham dự hội thảo</h1>
            <form asp-page="EnterKey" method="post" id="invitationForm">
                <div class="form-group">
                    <label for="invitationCode">Nhập mã khách mời:</label>
                    <input type="text" id="invitationCode" name="invitationCode" required>
                </div>
                <button type="submit" class="btn-confirm">Xác nhận</button>
            </form>
        </div>
    </div>
</body>
</html>
