@page "/AddData"
@model COTSEClient.Pages.Department.AddDataWorkshopModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Tạo câu hỏi cho hội thảo</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <form method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="workshopName" class="form-label">Tên hội thảo:</label>
                                <input type="text" id="workshopName" name="workshopName" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label for="questionExcel" class="form-label">Nhập câu hỏi từ Excel:</label>
                                <input type="file" id="questionExcel" name="questionExcel" class="form-control" accept=".xlsx, .xls" />
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary me-3">Gửi</button>
                                <button type="button" class="btn btn-secondary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </main>
</body>
</html>
