@page "/AllDepartments"
@model COTSEClient.Pages.Department.AllDeparmentModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Increased Details</title>
    <style>
        .card-body {
            font-size: 1.1rem; 
            padding: 2rem; 
        }
    </style>
</head>
<body>
    <section class="py-5">
        <div class="container px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Các phòng ban</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Project Card 1-->
                    <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">SAP LAB</h2>
                                    <p>Phòng Lab này để sáng tạo</p>
                                    <a class="btn btn-primary" href="/AllSeries">Xem chi tiết</a>
                                </div>
                                <img class="img-fluid" src="https://i.chungta.vn/2023/07/21/Anh-4-1689920881_860x0.jpg" alt="..." />
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2-->
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-5">
                            <div class="d-flex align-items-center">
                                <div class="p-5">
                                    <h2 class="fw-bolder">DX LAB</h2>
                                    <p>Phòng Lab này cũng để sáng tạo</p>
                                    <a class="btn btn-primary" href="#">Xem chi tiết</a>
                                </div>
                                <img class="img-fluid" src="https://dxsummit.vn/wp-content/uploads/2022/05/28247268216966018040326685868299998226033482n-16534691271181065223244.jpg" alt="..." />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
