@page "/Login"
@model COTSEClient.Pages.Common.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/css/loginstyle.css" rel="stylesheet" />
</head>
<body>
    <div id="back">
        <div class="backRight"></div>
        <div class="backLeft"></div>
    </div>

    <div id="slideBox">
        <div class="topLayer">
            <div class="right">
                <div class="content">
                    <h2>Đăng nhập</h2>
                    <form method="post" >
                        <div class="form-outline mb-4">
                            <input type="email" id="email" name="email" class="form-control form-control-lg"
                                   placeholder="Enter a valid email address" />
                        </div>

                        <div class="form-outline mb-3">
                            <input type="password" id="password" name="password" class="form-control form-control-lg"
                                   placeholder="Enter password" />
                        </div>
                        
                        <button id="login" type="submit">Login</button>
                         @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="alert alert-danger" style="color:red" role="alert">
                                @ViewData["ErrorMessage"]
                            </div>
                        }
                    </form>
                    <div class="form-outline mb-3">
                        <a href="#">Quên mật khẩu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

