@page "/evaluate"
@model COTSEClient.Pages.Report.HomeChartsWorkshopModel
@{
    Layout = "_Layout";
}
<style>
    .search-container {
        display: flex;
        align-items: center;
    }

    .search-container .form-control {
        margin-right: 10px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Các chuỗi hội thảo</title>
    <style>
        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

            .search-container input[type="text"],
            .search-container input[type="date"],
            .search-container button[type="submit"] {
                padding: 10px;
                border: 1px solid #ced4da;
                border-radius: 5px;
            }

            .search-container button[type="submit"] {
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
            }

                .search-container button[type="submit"]:hover {
                    background-color: #0056b3;
                }
    </style>
</head>
<body>
    <section class="py-5">
        <div class="container-fluid px-5 mb-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Charts To Evaluate The Workshop</span></h1>
            </div>
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-3">
                            <div>
                                <img style="width:200px; height:200px;" src="https://localhost:7149/Image/lineChart.png" alt="Evaluate Score">
                                <h5>Visualizes Participants' Scores</h5>
                                <a class="btn btn-primary" href="/testScore?workShopId=@Model.WorkshopId">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-3">
                            <div>
                                <img style="width:200px; height:200px;" src="https://localhost:7149/Image/BarChart.png" alt="Evaluate Score">
                                <h5>estimated participants and actual participants</h5>
                                <a class="btn btn-primary" href="/visualizeParticipants">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-3">
                            <div>
                                <img style="width:200px; height:200px;" src="https://localhost:7149/Image/piechart.png" alt="Evaluate Score">
                                <h5>Slides of the Workshops</h5>
                                <a class="btn btn-primary" href="/AllWorkshop">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-3">
                            <div>
                                <img style="width:200px; height:200px;" src="https://localhost:7149/Image/barChartVarious.png" alt="Evaluate Score">
                                <h5>Visualizes Interest Levels for Various Workshops</h5>
                                <a class="btn btn-primary" href="/variousWorkshops?srId=@Model.WSSeriesId">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-3">
                            <div>
                                <img style="width:200px; height:200px;" src="https://localhost:7149/Image/radaChart.png" alt="Evaluate Score">
                                <h5>Analyze Participants' Emotions</h5>
                                <a class="btn btn-primary" href="/AllWorkshop">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="card overflow-hidden shadow rounded-4 border-0">
                        <div class="card-body p-3">
                            <div>
                                <img style="width:200px; height:200px;" src="https://localhost:7149/Image/radaChart.png" alt="Evaluate Score">
                                <h5>Analyze Presenter' Emotions</h5>
                                <a class="btn btn-primary" href="/AllWorkshop">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
