@page "/visualizeParticipants"
@model COTSEClient.Pages.Report.VisualizeParticipantsModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participants Comparison</title>
    <link href="~/css/stylemessage.css" rel="stylesheet">

</head>
<body>
    <h1 class="text-gradient d-inline text-center">Biểu Đồ Số Lượng Người Xem Theo Thời Gian</h1>
    @if (Model.ListChartSeries != null)
    {
        @foreach (var item in Model.ListChartSeries)
        {
            <div style="margin-bottom:50px" class="card overflow-hidden shadow rounded-4 border-0 h-100 text-center">
                <div class="card-body p-3">
                    <img src="data:image/png;base64,@item.Image.Image1" class="avatar img-circle img-thumbnail">
                </div>
            </div>
        }
    }

    @{
        if (Model.Msg != null)
        {
            <input type="checkbox" id="alert-success-popup" class="input-hidden" @(string.IsNullOrEmpty(Model.Msg) ? "" : "checked")>
            <div class="alert-box-wrap alert-success-popup">
                <div class="alert-content">
                    <div class="icon">
                        <img src="~/Image/success-icon.svg" alt="alert-icon">
                    </div>
                    <div class="body">
                        <h3>@Model.Msg</h3>
                    </div>
                    <div class="close-alert">
                        <label for="alert-success-popup">&times;</label>
                    </div>
                </div>
            </div>
        }
    }
</body>
</html>